<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- 顯示實際操作資料庫時的SQL -->
    <property name="show_sql">true</property>
    <!-- 將顯示的SQL排版，方便觀看 -->
    <property name="format_sql">true</property>
    <!-- SQL方言，這邊設定的是MySQL -->
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    <!-- JDBC驅動程式 -->
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <!-- JDBC URL -->
    <property name="connection.url">jdbc:mysql://localhost:3307/cache</property>
    <!-- 資料庫使用者 -->
    <property name="connection.username">root</property>
    <!-- 資料庫密碼 -->
    <property name="connection.password">1234567</property>
    <!-- UTF8 Setting -->
    <property name="hibernate.connection.CharSet">utf8</property>
    <property name="hibernate.connection.characterEncoding">utf8</property>
    <property name="hibernate.connection.useUnicode">true</property>
    <!-- 自動創立或丟掉table -->
    <property name="hbm2ddl.auto">update</property>

    <mapping class="org.cgis.dev.ds.SOS"/>
    <mapping class="org.cgis.dev.ds.Offering"/>
    <mapping class="org.cgis.dev.ds.Observation"/>
    <mapping class="org.cgis.dev.ds.ObservableProperty"/>
    <mapping class="org.cgis.dev.ds.FeatureOfInterest"/>

  </session-factory>
</hibernate-configuration>